@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Tangerine&display=swap");
$color-lightorange: #FFECCC;
$color-orange: #EFB96F;
$color-orange-brown: #8C4F2B;
$color-brown: #665B4F;
$color-lightbrown: #887257;
$color-terra: #be996c;
$color-light-rose: #FFEAED;
$color-light-purple: #DBC6DD;
$color-purple-rose: #FCD0FF;
$color-blue-gray: #667AAE;
$color-rose-pastel: #F29494;
$color-green-lime: #A6AD63;
$color-emerald: #005B4C;
$color-white: #ffffff;

$primary-font:'Dosis', sans-serif;
$cursive-font:'Tangerine', cursive;

$height: 10rem;

$shadow: 0 0.5rem 1rem 0 rgb(0, 0, 0);
$shadow-button-only: 0 0.3rem 0.3rem 0 rgb(0, 0, 0);