.container__link--inicio {
        li {
            color: $color-orange-brown;
            font-family: $primary-font;
        }
        a {
            text-decoration: underline;
            &:hover {
                color: $color-emerald;
            }
        }
} 
.container__qr {
    .container__qr--icono {
        width: 2rem;
        height: 2rem;
    }
    .container__qr--imagen {
        width: 15rem;
        height: 15rem;
    }
}